# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.env
.env
.env.*

# Frontend
frontend/node_modules/
frontend/.next/
frontend/build/
frontend/dist/
node_modules/
.next/

# Project Data
data/processed/
data/chunks/
data/chroma_db/
data/raw/*.pdf

# IDE & System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Large Assets
mevzuat/
backend/chroma_db/
scripts/_archive/

# AWS
LightsailDefaultKey-eu-central-1.pem
deploy_aws.ps1

# Frontend
frontend.tar.gz

# Documentation
mufettis-yol.md